{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $clustername := promptStringOnce . "clustername" "Name of the used kubernetes cluster for vscode" -}}
{{- $ssh_key := promptStringOnce . "primary ssh key" "Name of the primary ssh key file" -}}
{{- $ssh_key_pub := promptStringOnce . "primary ssh public key" "Name of the primary ssh public key file" -}}

[data]
    email = {{ $email | quote }}
    clustername = {{ $clustername | quote }}
    ssh_key = {{ $ssh_key | quote }}
    ssh_key_pub = {{ $ssh_key_pub | quote }}
[edit]
command = "code"
args = ["--wait"]
