[user]
  name = Ruben Aleman
  email = {{ .email }}
  signingKey = {{ .chezmoi.homeDir }}/.ssh/{{ .ssh_key_pub }}
[core]
	editor = nano
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[color]
  ui = auto
[column]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  whitespace = white reverse
  meta = blue reverse
  frag = blue reverse
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[alias]
  uncommit = reset HEAD~1 --soft
  slog = log --oneline -n
  co = checkout
  cob = checkout -b
  com = commit -m
  ds = diff --staged
  cane = commit --amend --no-edit
  rh = "!f() { git rebase -i HEAD~$1; }; f"
  acp = "!git add -u && git commit -m \"update $(date '+%Y-%m-%d %H:%M')\" && git push"
  rc = rebase --continue
  pfwl = push --force-with-lease
[merge]
	ff = true
[init]
	defaultBranch = main
[core]
  pager = delta
  sshCommand = ssh -i ~/.ssh/{{ .ssh_key_pub }}
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  line-numbers = true
  side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[gpg]
  format = ssh
[commit]
  gpgsign = true
[pull]
  rebase = true
[help]
  autocorrect = prompt
[rebase]
  autoStash = true
