{
    "security.workspace.trust.untrustedFiles": "open",
    "editor.renderWhitespace": "all",
    "redhat.telemetry.enabled": false,
    "[ruby]": {
        "editor.tabSize": 2,
        "editor.detectIndentation": false,
        "editor.defaultFormatter": "LoranKloeze.ruby-rubocop-revived",
        "editor.formatOnType": true,
        "editor.insertSpaces": true,
        "files.trimFinalNewlines": true,
        "editor.rulers": [
            120
        ],
        "editor.semanticHighlighting.enabled": true,
        "editor.formatOnSave": true,
        "files.trimTrailingWhitespace": true,
        "files.insertFinalNewline": true
    },
    "puppet.editorService.formatOnType.enable": true,
    "diffEditor.ignoreTrimWhitespace": false,
    "files.associations": {
        "*.dot": "dot",
        "*.hcl": "hcl",
        "*.sh": "shellscript"
    },
    "[nginx]": {
        "editor.tabSize": 2
    },
    "git.confirmSync": false,
    "[terraform]": {
        "editor.tabSize": 2,
        "editor.detectIndentation": false,
        "editor.defaultFormatter": "hashicorp.terraform",
        "editor.formatOnSave": true,
        "editor.formatOnPaste": true,
    },
    "[python]": {
        "editor.formatOnSave": true,
        "editor.formatOnType": true,
        "editor.defaultFormatter": "ms-python.pylint",
        "editor.formatOnPaste": true
    },
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "ansible.python.interpreterPath": "python3",
    "terminal.integrated.enableMultiLinePasteWarning": "never",
    "yaml.customTags": [
        "!vault"
    ],
    "[markdown]": {
        "files.trimTrailingWhitespace": false,
        "editor.trimAutoWhitespace": false,
        "editor.tabSize": 2
    },
    "terminal.integrated.scrollback": 100000,
    "go.toolsManagement.autoUpdate": true,
    "markdown-preview-enhanced.mermaidTheme": "dark",
    "markdown-preview-enhanced.previewTheme": "github-dark.css",
    "window.zoomLevel": 2,
    "vs-kubernetes": {
        "vscode-kubernetes.helm-path.linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/helm/linux-amd64/helm",
        "vscode-kubernetes.minikube-path.linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/minikube/linux-amd64/minikube",
        "vscode-kubernetes.kubectl-path.linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/kubectl/kubectl",
        "vscode-kubernetes.kubectl-path-linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/kubectl/kubectl",
        "vscode-kubernetes.minikube-path-linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/minikube/linux-amd64/minikube",
        "vscode-kubernetes.helm-path-linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/helm/linux-amd64/helm",
        "disable-linters": [
            "resource-limits"
        ],
        "vs-kubernetes.crd-code-completion": "enabled",
        "vs-kubernetes.knownKubeconfigs": [
            "{{ .chezmoi.homeDir }}/.kube/clusters/{{ .clustername }}"
        ],
        "vs-kubernetes.kubeconfig": "{{ .chezmoi.homeDir }}/.kube/clusters/{{ .clustername }}"
    },
    "editor.indentSize": "tabSize",
    "editor.formatOnSave": true,
    "python.createEnvironment.contentButton": "show",
    "[yaml]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.autoIndent": "none",
        "diffEditor.ignoreTrimWhitespace": false,
        "editor.quickSuggestions": {
            "other": true,
            "comments": false,
            "strings": false
        }
    },
    "telemetry.telemetryLevel": "off",
    "yaml.format.enable": false,
    "terraform.languageServer.tcp.port": 0,
    "terraform.languageServer.indexing.ignoreDirectoryNames": [
        "modules"
    ],
    "application.shellEnvironmentResolutionTimeout": 15,
    "markdown.marp.enableHtml": true,
    "markdown.marp.exportType": "html",
    "explorer.confirmDragAndDrop": false,
    "D2.previewLayout": "elk",
    "D2.previewSketch": true,
    "D2.updateOnSave": true,
    "window.confirmSaveUntitledWorkspace": false,
    "editor.stickyScroll.enabled": true,
    "gitlens.telemetry.enabled": false,
    "rest-client.enableTelemetry": false,
    "terminal.integrated.defaultProfile.windows": "",
    "terminal.integrated.defaultProfile.linux": "bash",
    "rubyLsp.rubyVersionManager": {
        "miseExecutablePath": "/usr/bin/mise",
        "identifier": "mise"
    },
    "terraform.codelens.referenceCount": true,
    "[hcl]": {
        "editor.tabSize": 2
    },
    "gitlab.duoChat.enabled": false,
    "editor.tabSize": 2,
    "[go]": {
        "editor.tabSize": 2,
        "editor.insertSpaces": false
    },
    "puppet.editorService.debugFilePath": "{{ .chezmoi.homeDir }}/tmp/vscode-puppet.log",
    "gitlens.launchpad.indicator.enabled": false,
    "terraform.languageServer.terraform.path": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/terraform",
    "rubyLsp.formatter": "rubocop",
    "rubyLsp.enabledFeatures": {
        "codeActions": true,
        "diagnostics": true,
        "documentHighlights": true,
        "documentLink": true,
        "documentSymbols": true,
        "foldingRanges": true,
        "formatting": true,
        "hover": true,
        "inlayHint": true,
        "onTypeFormatting": true,
        "selectionRanges": true,
        "semanticHighlighting": true,
        "completion": true,
        "codeLens": true,
        "definition": true,
        "workspaceSymbol": true,
        "signatureHelp": true,
        "typeHierarchy": true
    },
    "ruby.rubocop.executePath": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/",
    "ruby.rubocop.autocorrectOnSave": true,
    "go.goroot": "{{ .chezmoi.homeDir }}/.local/share/mise/installs/go/1.23.2",
    "shellcheck.ignorePatterns": {
        "**/*.envrc": true
    },
    "gitlens.blame.ignoreWhitespace": true,
    "yaml.maxItemsComputed": 20000,
    "makefile.configureOnOpen": true,
    "explorer.confirmDelete": false,
    "gitlab.duoCodeSuggestions.enabled": false,
    "[erb]": {
        "editor.defaultFormatter": "manuelpuyol.erb-linter",
        "editor.formatOnSave": false
    },
    "gopls": {
        "ui.semanticTokens": true
    }
    "solargraph.commandPath": "/home/ruben/.local/share/mise/installs/ruby/3.1.1/bin/solargraph"
}
