{
    "security.workspace.trust.untrustedFiles": "open",
    "editor.renderWhitespace": "all",
    "redhat.telemetry.enabled": false,
    "diffEditor.ignoreTrimWhitespace": false,
    "files.associations": {
        "*.dot": "dot",
        "*.hcl": "hcl",
        "*.sh": "shellscript",
        "*.j2": "html"
    },
    "[nginx]": {
        "editor.tabSize": 2
    },
    "git.confirmSync": false,
    "[terraform]": {
        "editor.tabSize": 2,
        "editor.detectIndentation": false,
        "editor.formatOnSave": true,
        "editor.formatOnPaste": true,
    },
    "[python]": {
        "editor.formatOnSave": true,
        "editor.formatOnType": true,
        "editor.formatOnPaste": true
    },
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "terminal.integrated.enableMultiLinePasteWarning": "never",
    "yaml.customTags": [
        "!vault"
    ],
    "[markdown]": {
        "files.trimTrailingWhitespace": false,
        "editor.trimAutoWhitespace": false,
        "editor.tabSize": 2
    },
    "terminal.integrated.scrollback": 100000,
    "go.toolsManagement.autoUpdate": true,
    "markdown-preview-enhanced.mermaidTheme": "dark",
    "markdown-preview-enhanced.previewTheme": "github-dark.css",
    "window.zoomLevel": 2,
    "vs-kubernetes": {
        "vscode-kubernetes.helm-path.linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/helm/linux-amd64/helm",
        "vscode-kubernetes.minikube-path.linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/minikube/linux-amd64/minikube",
        "vscode-kubernetes.kubectl-path.linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/kubectl/kubectl",
        "vscode-kubernetes.kubectl-path-linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/kubectl/kubectl",
        "vscode-kubernetes.minikube-path-linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/minikube/linux-amd64/minikube",
        "vscode-kubernetes.helm-path-linux": "{{ .chezmoi.homeDir }}/.local/state/vs-kubernetes/tools/helm/linux-amd64/helm",
        "disable-linters": [
            "resource-limits"
        ],
        "vs-kubernetes.crd-code-completion": "enabled",
    },
    "editor.indentSize": "tabSize",
    "editor.formatOnSave": true,
    "python.createEnvironment.contentButton": "show",
    "[yaml]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.autoIndent": "none",
        "diffEditor.ignoreTrimWhitespace": false,
        "editor.quickSuggestions": {
            "other": true,
            "comments": false,
            "strings": false
        }
    },
    "telemetry.telemetryLevel": "off",
    "yaml.format.enable": false,
    "application.shellEnvironmentResolutionTimeout": 15,
    "markdown.marp.html": "all",
    "markdown.marp.exportType": "html",
    "explorer.confirmDragAndDrop": false,
    "D2.previewLayout": "elk",
    "D2.previewSketch": true,
    "D2.updateOnSave": true,
    "window.confirmSaveUntitledWorkspace": false,
    "editor.stickyScroll.enabled": true,
    "gitlens.telemetry.enabled": false,
    "rest-client.enableTelemetry": false,
    "terminal.integrated.defaultProfile.windows": "",
    "terminal.integrated.defaultProfile.linux": "bash",
    "[hcl]": {
        "editor.tabSize": 2
    },
    "gitlab.duoChat.enabled": false,
    "editor.tabSize": 2,
    "[go]": {
        "editor.tabSize": 2,
        "editor.insertSpaces": false
    },
    "gitlens.launchpad.indicator.enabled": false,
    "go.goroot": "{{ .chezmoi.homeDir }}/.local/share/mise/installs/go/latest",
    "shellcheck.ignorePatterns": {
        "**/*.envrc": true
    },
    "gitlens.blame.ignoreWhitespace": true,
    "yaml.maxItemsComputed": 20000,
    "makefile.configureOnOpen": true,
    "explorer.confirmDelete": false,
    "gitlab.duoCodeSuggestions.enabled": false,
    "gopls": {
        "ui.semanticTokens": true
    },
    "window.titleBarStyle": "custom",
    "chat.commandCenter.enabled": false,
    "gitlab.duo.enabledWithoutGitlabProject": false,
    "gitlab.keybindingHints.enabled": false,
    "editor.wordWrap": "on",
    "chat.agent.enabled": false,
    "telemetry.feedback.enabled": false,
    "git.suggestSmartCommit": false,
    "[html]": {
        "editor.formatOnSave": false
    },
    "[makefile]": {
        "editor.insertSpaces": false
    },
    "docker.extension.enableComposeLanguageServer": false,
    "opentofu.experimentalFeatures.prefillRequiredFields": true,
    "[opentofu]": {
        "editor.defaultFormatter": "opentofu.vscode-opentofu",
        "editor.formatOnSave": true,
        "editor.formatOnSaveMode": "file"
    },
    "[opentofu-vars]": {
        "editor.defaultFormatter": "opentofu.vscode-opentofu",
        "editor.formatOnSave": true,
        "editor.formatOnSaveMode": "file"
    },
    "opentofu.languageServer.tofu.path": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/tofu",
    "shfmt.executablePath": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/shfmt",
    "terminal.integrated.initialHint": false,
    "go.experiments": {
        "jsonv2": true,
    },
    "go.toolsEnvVars": {
        "GOEXPERIMENT": "jsonv2"
    },
    "go.testEnvVars": {
        "GOEXPERIMENT": "jsonv2"
    }
}
